{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<article{{ attributes.addClass('profile') }}>
    <h3>Hello {{ user.displayname }}</h3>
    <div class="row">
        <div class="col-sm-3">
            <p><strong>Profile picture</strong></p>
            {% if content.user_picture is empty %}
                {{ content.user_picture }}
            {% else %}
                <p><img class="img-responsive" alt="" src="http://placehold.it/200x200&text=%20"></p>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% for key, value in content  %}
                {% if value.0 is not empty or required -%}
                    <dl class="dl-horizontal">
                      <dt>{{ value['#title'] }}</dt>
                      <dd>{{ value.0 }}</dd>
                    </dl>
                {%- endif %}
            {% endfor %}
            {# content.field_first_name #}
        </div>
    </div>
</article>
